{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-section">
    {% include 'customers/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    {% include 'includes/c_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h5 class="text-uppercase">Change Password</h5>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- Load message -->
                                    {% include 'includes/alerts.html' %}
                                </div>
                            </div>
                            <form action="{% url 'password_change' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-fields-set">
                                    <ul>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="field-holder">
                                                        <label>Email *</label>
                                                        {{ form.email }}
                                                        {% if form.email.errors %}
                                                            <span class="text-danger">{{ form.email.errors }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="field-holder">
                                                        <label>Current Password *</label>
                                                        {{ form.current_password }}
                                                        {% if form.current_password.errors %}
                                                            <span class="text-danger">{{ form.current_password.errors }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="field-holder">
                                                        <label>New Password *</label>
                                                        {{ form.new_password }}
                                                        {% if form.new_password.errors %}
                                                            <span class="text-danger">{{ form.new_password.errors }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="field-holder">
                                                        <label>Re-enter New Password *</label>
                                                        {{ form.confirm_new_password }}
                                                        {% if form.confirm_new_password.errors %}
                                                            <span class="text-danger">{{ form.confirm_new_password.errors }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div>
                                        <input type="submit" value="Change Password" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
